<ul class="search-results">
  <% if search_results.any? %>
    <% search_results.each do |result| %>
      <% begin %>
        <% record = (Kernel.const_get result.host_model_name).find(result.model_record_id) %>
      <% rescue %>
        next
      <% end %>
      <% if defined? record.name %>
        <% link_label = record.name %>
      <% elsif defined? record.title %>
        <% link_label = record.title %>
      <% else %>
        <% link_label = 'no title or name' %>
      <% end %>
      <%= content_tag( :li,
              "<span class='sr-model-name'>#{result.host_model_name}</span> -
              <span class='sr-record-link'>#{link_to link_label, record}</span> -
              <span class='sr-rating'>#{result.rating}</span>
              ".html_safe) unless link_label == 'no title or name'
      %>
    <% end %>
  <% else %>
    <li>There are no page results corresponding to this query.</li>
  <% end %>
</ul>
