<%= form_tag search_path, class: 'navbar-form navbar-left navbar-search-form' do %>
  <%= text_field_tag 'query', '', class: 'form-control' %>
  <%= hidden_field_tag 'models_to_search', models_to_search %>
  <%= button_tag type: 'submit', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-search"></span>&nbsp;search
  <% end %>
<% end %>
